.node {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display:inline-block;
    transition: all 1000ms ease;
}

.activated {
    box-shadow: 0px 0px 3px 2px rgba(194, 255, 194, 0.8);
}

.divider {
    height: 40px;
    width: 2px;
    margin-left: 4px;
    transition: all 800ms ease;
}

.nodes li p {
    display:list-item;
    margin-left: 35px;
    margin-top: -20px;
}

.nodes li {
    list-style: none;
    line-height: 10px;
}


.blue { background-color: rgba(82, 165, 255, 1); }
.green{ background-color: #34495e; }
.red { background-color: rgba(255, 148, 148, 1); }
.grey { background-color: #e6e6e6;}

.white { background-color: white }

.modal-content{
  border-radius: 20px
}
